@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  --dark: #191919;
  --light: #ecdbba;

  --primary-1: #b6c8e6;
  --primary-2: #526c96;
  --primary: #2d4263;
  --primary-3: #19325a;
  --primary-4: #071938;
  --primary-5: #041127;

  --secondary-1: #e2bab3;
  --secondary-2: #d47764;
  --secondary: #c84b31;
  --secondary-3: #8d2d1a;
  --secondary-4: #52160a;
  --secondary-5: #360d05;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-track {
  background-color: #ecdbba17;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--primary);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html {
  font-family: "Varela Round", sans-serif;
}

body {
  background: var(--primary-5);
  color: white;
  height: 100%;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: \201C\201D\2018\2019;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 40px;
  outline: none;
  border: none;
  transition: all 0.1s ease-in-out;
  background: whitesmoke;
}

button:hover {
  transform: translateY(1.5px);
}

button:focus {
  box-shadow: 0px 0px 2px 2px var(--secondary);
  transform: translateY(2px);
}

button:active {
  box-shadow: 0px 0px 1px 1px var(--secondary-2);
  transform: translateY(4px);
}

.mainContainer {
  overflow: hidden;
}

.section {
  /* padding-top: 10vh; */
  color: white;
}

.sliderImage {
  max-height: 500px;
  max-width: 700px;
  /* object-fit: cover; */
}
/* .SliderImageDivWrapper {
} */

.modal__mapWrapper {
  height: 250px;
  width: 320px;
}

.pointer {
  cursor: pointer;
}
