@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");

.footerWrapper {
  background: var(--primary-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
/* table {
} */

.branding {
  flex: 1.2;
  text-align: center;
}
.branding h1 {
  font-family: "Prosto One", cursive;
  font-size: 2.8rem;
  letter-spacing: 3px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.branding p {
  margin: 0;
  color: #d3d2d2;
  padding-left: 5px;
}

.footerLinks {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-self: start;
}

.footerLinks h4 {
  margin: 0;
  padding: 0;
}

.footerLinks p {
  color: #d0cfcf;
  padding: 0;
  margin: 0;
}
.footerLinks ul,
table {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  margin-top: 5px;
}
.footerLinks li,
td,
a {
  color: #d0cfcf;
  cursor: pointer;
  margin-top: 3px;
  text-decoration: none;
}
.footerLinks li:hover,
td:hover,
a:hover {
  color: var(--secondary);
}

.explore {
  flex: 1.2;
}

.visitUs {
  flex: 1;
}

.social {
  flex: 1;
}
.contact {
  flex: 1;
}

.bottomLine {
  display: flex;
  width: 98%;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.bottomLine h3 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .bottomLine {
    flex-direction: column-reverse;
    justify-content: center;
    height: 100%;
    font-size: 0.9rem;
    margin-bottom: unset;
  }
  .bottomLine > * {
    margin: 5px;
  }
  .bottomLine > div {
    color: gray;
  }
  .bottomLine h3 {
    font-size: 1.2rem;
  }
}
